<div class="jumbotron">
    <p>
        <a class="btn btn-primary btn-large" href="/" onClick="tracklink('/no1','/')">Back to index</a>
    </p>
    <h2>
        This is the page for tab content number 1 detail<br>
        In the past decade, great advancements have been made in the field of avalanche transceiver rescue, most notably the worldwide acceptance of digital technology. Since 1997, average rescue times have decreased dramatically,1 increasing the odds of survival for avalanche victims. But as avalanche beacon technology becomes increasingly sophisticated, it can become less compatible with the existing mass of beacons already in use. This is particularly the case with new digital transceivers that use signal timing analysis to “mark” victims in complex multiple burials. While this system works well under ideal conditions, it can be surprisingly unreliable when searching for certain types of transmitters, especially as the number of victims increases.
    </h2>
</div>