<div class="jumbotron">
    <p>
        <button class="btn btn-primary btn-large" onClick="tracklink('/no2','/')">Back to index</button>
    </p>
    <h2>
        This is the page for tab content number 2 detail<br>
        Using a combination of computer modeling and field trials, we determine that “signal overlap” is a major concern when using “marking” functions to search for as few as two beacons at a time. The problem is deeply compounded as the number of signals increases. For this reason, “marking” functions cannot replace existing methods for isolating multiple burials. “Marking” should only be used if the searcher has already mastered reliable backup techniques such as the Three Circle and Micro Search Strip methods that use signal strength instead of signal timing to isolate multiple burials.
    </h2>
</div>